iframe{
    display: none;
}
html, p, a, li, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 25px;
}
.font-bold{
    font-weight: 600;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.force-justify{
    text-align: justify !important;
}
.fine-space{
    padding: 10px;
}
.vertical-pad-header{
    padding-top: 40px;
    padding-bottom: 150px;
}
.logo-font{
    font-size: 50pt;
    font-family: 'Fredoka One', cursive;
}
.logo-white{
    color:white;
}
.search-btn{
    min-width: 150px;
    width: auto;
}
.fine-all-padding{
    padding: 5%;
}
.fine-top-padding{
    padding: 50px;
}
.main-title{
    width: auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
    text-shadow:;
}
.main-subtitle{
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}