<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SMOUQ app</display-name>
    <!-- http log request filter -->
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>smouq.filter.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>LogFilter started</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- html response compression filter -->
    <filter>
        <filter-name>CompressResponseFilter</filter-name>
        <filter-class>smouq.filter.CompressResponseFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>CompressResponseFilter started</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CompressResponseFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- struts 2 dispatcher filter -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
