iframe{
    display: none;
}
html, p, a, li, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 25px;
}
.font-bold{
    font-weight: 600;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.force-justify{
    text-align: justify !important;
}
.fine-space{
    padding: 10px;
}
.vertical-pad-header{
    padding-top: 40px;
    padding-bottom: 150px;
}
.logo-font{
    font-family: 'Raleway', sans-serif;
}

.logo-padding{
    padding-bottom: 0px;
    padding-top: 9px;
}

.font-big{
    font-size: 50pt;
}
.nofit{
    padding: 0px !important;
    margin: 0px !important;
}

.bar-center{
    padding-top: 8px;
}
.logo-white{
    color:white;
}
.search-btn{
    min-width: 150px;
    width: auto;
}
.fine-all-padding{
    padding: 5%;
}
.fine-top-padding{
    padding: 50px;
}
.main-title{
    width: auto;
    position: relative;
    font-family: 'Assistant', sans-serif;
    font-size: 48px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
}
.main-subtitle{
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.force-black-input{
    font-size: 14pt !important;
    color: black !important;
}

.anuncius-header{
    height: 45px;
}

.anuncius-head-margin{
    margin-top: 45px;
}
.anuncius-bar{
    height: 15px;
    min-height: 15px;
}
.bg-white{
    background-color: white;
}

.aside-btn{
    padding-bottom: 0px;
}

.animated-fade-in{
    visibility: visible;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-name: fadeIn;
}

.stats-block{
    margin-top: 75px;
}

.title-sitemap-main{
    display: block;
    line-height: 3.2rem;
    font-size: 1.6rem;
    border-bottom: 1px dashed #d7d7d7;
}
.sitemap-item{
    display: inline-block;
    width: 32.9%;
    font-size: 1.1rem;
    line-height: 2rem;
}