iframe{
	display: none;
}
html, p, a, li, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 25px;
}
.font-bold{
    font-weight: 600;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.justify{
    text-align: justify;
}
.fine-space{
    padding: 10px;
}
.vertical-pad-header{
    padding-top: 40px;
    padding-bottom: 150px;
}
.logo-font{
    font-size: 50pt;
    font-family: 'Fredoka One', cursive;
}
.logo-white{
    color:white;
}