@charset "UTF-8";

.typed-cursor {
    display: inline-block;
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite
}
@keyframes blink {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
@-webkit-keyframes blink {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
@-moz-keyframes blink {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: " ";
    display: table
}
.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
.hide {
    display: none!important
}
.show {
    display: block!important
}
.invisible {
    visibility: hidden
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.hidden {
    display: none!important
}
.affix {
    position: fixed
}
@-ms-viewport {
    width: device-width
}
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none!important
}
@media (max-width: 767px) {
    .visible-xs,
    .visible-xs-block {
        display: block!important
    }
    table.visible-xs {
        display: table!important
    }
    tr.visible-xs {
        display: table-row!important
    }
    td.visible-xs,
    th.visible-xs {
        display: table-cell!important
    }
    .visible-xs-inline {
        display: inline!important
    }
    .visible-xs-inline-block {
        display: inline-block!important
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm,
    .visible-sm-block {
        display: block!important
    }
    table.visible-sm {
        display: table!important
    }
    tr.visible-sm {
        display: table-row!important
    }
    td.visible-sm,
    th.visible-sm {
        display: table-cell!important
    }
    .visible-sm-inline {
        display: inline!important
    }
    .visible-sm-inline-block {
        display: inline-block!important
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md,
    .visible-md-block {
        display: block!important
    }
    table.visible-md {
        display: table!important
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md,
    th.visible-md {
        display: table-cell!important
    }
    .visible-md-inline {
        display: inline!important
    }
    .visible-md-inline-block {
        display: inline-block!important
    }
}
@media (min-width: 1200px) {
    .visible-lg,
    .visible-lg-block {
        display: block!important
    }
    table.visible-lg {
        display: table!important
    }
    tr.visible-lg {
        display: table-row!important
    }
    td.visible-lg,
    th.visible-lg {
        display: table-cell!important
    }
    .visible-lg-inline {
        display: inline!important
    }
    .visible-lg-inline-block {
        display: inline-block!important
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none!important
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none!important
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none!important
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none!important
    }
}
.visible-print {
    display: none!important
}
@media print {
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table!important
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print,
    th.visible-print {
        display: table-cell!important
    }
}
.visible-print-block {
    display: none!important
}
@media print {
    .visible-print-block {
        display: block!important
    }
}
.visible-print-inline {
    display: none!important
}
@media print {
    .visible-print-inline {
        display: inline!important
    }
}
.visible-print-inline-block {
    display: none!important
}
@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
    .hidden-print {
        display: none!important
    }
}

html.remodal-is-locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    position: relative
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a {
    color: #7233b7
}
a:focus,
a:hover {
    color: #4f1e84
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}
.img-rounded {
    border-radius: 6px
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}
.img-circle {
    border-radius: 50%
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
[role="button"] {
    cursor: pointer
}
::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
:-moz-placeholder,
::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
:focus:-moz-placeholder,
:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
ul {
    list-style: none;
    padding: 0
}
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
html a,
input,
li,
p,
span,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%
}
.h1,
h1 {
    font-size: 36px
}
.h2,
h2 {
    font-size: 30px
}
.h3,
h3 {
    font-size: 24px
}
.h4,
h4 {
    font-size: 18px
}
.h5,
h5 {
    font-size: 14px
}
.h6,
h6 {
    font-size: 12px
}
p {
    margin: 0 0 10px
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}
@media (min-width: 768px) {
    .lead {
        font-size: 21px
    }
}
.small,
small {
    font-size: 85%
}
.mark,
mark {
    background-color: #fcf8e3;
    padding: .2em
}
.text-left {
    text-align: left
}
.text-right {
    text-align: right
}
.text-center {
    text-align: center
}
.text-justify {
    text-align: justify
}
.text-nowrap {
    white-space: nowrap
}
.text-lowercase {
    text-transform: lowercase
}
.text-uppercase {
    text-transform: uppercase
}
.text-capitalize {
    text-transform: capitalize
}
.text-muted {
    color: #777
}
.text-primary {
    color: #7233b7
}
a.text-primary:focus,
a.text-primary:hover {
    color: #286090
}
.text-success {
    color: #3c763d
}
a.text-success:focus,
a.text-success:hover {
    color: #2b542c
}
.text-info {
    color: #31708f
}
a.text-info:focus,
a.text-info:hover {
    color: #245269
}
.text-warning {
    color: #8a6d3b
}
a.text-warning:focus,
a.text-warning:hover {
    color: #66512c
}
.text-danger {
    color: #a94442
}
a.text-danger:focus,
a.text-danger:hover {
    color: #843534
}
.bg-primary {
    color: #fff;
    background-color: #7233b7
}
a.bg-primary:focus,
a.bg-primary:hover {
    background-color: #286090
}
.bg-success {
    background-color: #dff0d8
}
a.bg-success:focus,
a.bg-success:hover {
    background-color: #c1e2b3
}
.bg-info {
    background-color: #d9edf7
}
a.bg-info:focus,
a.bg-info:hover {
    background-color: #afd9ee
}
.bg-warning {
    background-color: #fcf8e3
}
a.bg-warning:focus,
a.bg-warning:hover {
    background-color: #f7ecb5
}
.bg-danger {
    background-color: #f2dede
}
a.bg-danger:focus,
a.bg-danger:hover {
    background-color: #e4b9b9
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}
.list-inline,
.list-unstyled {
    padding-left: 0;
    list-style: none
}
.list-inline {
    margin-left: -5px
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}
dl {
    margin-bottom: 20px
}
dd,
dt {
    line-height: 1.42857143
}
dt {
    font-weight: 700
}
dd {
    margin-left: 0
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .dl-horizontal dd {
        margin-left: 180px
    }
}
abbr[data-original-title],
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777
}
.initialism {
    font-size: 90%;
    text-transform: uppercase
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}
blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child {
    margin-bottom: 0
}
blockquote .small,
blockquote footer,
blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777
}
blockquote .small:before,
blockquote footer:before,
blockquote small:before {
    content: '\2014 \00A0'
}
.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right
}
.blockquote-reverse .small:before,
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
blockquote.pull-right .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before {
    content: ''
}
.blockquote-reverse .small:after,
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
blockquote.pull-right .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after {
    content: '\00A0 \2014'
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}
a {
    text-decoration: none;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
a:focus,
a:hover {
    text-decoration: none
}
.cancel-off-png,
.cancel-on-png,
.star-half-png,
.star-off-png,
.star-on-png {
    font-size: 2em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "raty";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
    text-transform: none
}
.cancel-on-png:before {
    content: "\e600"
}
.cancel-off-png:before {
    content: "\e601"
}
.star-on-png:before {
    content: "\f005"
}
.star-off-png:before {
    content: "\f006"
}
.star-half-png:before {
    content: "\f123"
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}
.animated.bounceIn,
.animated.bounceOut,
.animated.flipOutX,
.animated.flipOutY {
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}